/* baseline */
@include establish-baseline;

/* apply a natural box layout model to all elements */
* { @include box-sizing(border-box); }

html, body { background: $bg-color; }

/* styyyling */
body {
  color: $black;
  font: {
    family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    weight: 400;
  }
  padding: 0;
  text-rendering: optimizeLegibility;
}